@page "/"

<h1>Класифікація Серцево судинних хворіб</h1>

<p>Ця модель визначає тип хвороби на основі 8 параметрів (вік, стать, артеріальний тиск...) та повертає один з 4х можливих результатів (0 - здоровий, ..., 3 - дуже хворий)</p>

<h2>Підготовлено командою Кицики:</h2>
<ul>
    <li>Байцар Ростислав</li>
    <li>Опацький Микола</li>
    <li>Довган Олена</li>
    <li>Карпій Володимир</li>
    <li>Цупанич Олександр</li>
    ПМа - 41 2020 - 2021 н.р.
</ul>