@page "/"

<h1>Кластеризація квітів ірису</h1>

<p>Ця модель визначає крастеризує квіти ірису за 4 параметрами і відносить їх до кластеру кількість яких вказує користувач</p>

<h2>Підготовлено командою Кицики:</h2>
<ul>
    <li>Байцар Ростислав</li>
    <li>Опацький Микола</li>
    <li>Довган Олена</li>
    <li>Карпій Володимир</li>
    <li>Цупанич Олександр</li>
    ПМа - 41 2020 - 2021 н.р.
</ul>