<!DOCTYPE html>
<html>
<head>
    <title>Створення користувача</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Створення користувача</h1>
     <form action="postUser" method="POST">
        <label>Ім'я</label>
        <input name="name" /><br><br>
        <label>Вік</label>
        <input name="age" type="number" min="1" max="110" /><br><br>
        <input type="submit" value="Створити" />
     </form>
     <a href="/users">Повернутись до списку</a>
</body>
<html>