<!DOCTYPE html>
<html>
<head>
    <title>Головна</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Hello node.js!</h1>
    <p><a href="/users">Список користувачів</a></p><br><br>
    <p><a href="/about">Про</a></p>
</body>
<html>